{% extends "shop/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
<ul class="list-group" id="item-list">
    <h1 class="text-center">Voici la liste de vos articles</h1>
</ul>
  </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    if (localStorage.getItem('panier') == null) {
        var panier = {};
    } else {
        var panier = JSON.parse(localStorage.getItem('panier'));
    }
    for (var item in panier) {
        let quantite = panier[item][0];
        let nom = panier[item][1];
        let itemString = `<li class="list-group-item d-flex justify-content-between align-items-center">
                            ${nom}
                            <span class="badge bg-primary rounded-pill">QTE ${quantite}</span>
                        </li>`;
        $('#item-list').append(itemString);
    }
</script>
{% endblock %}