{% extends "shop/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
<!--<ul class="list-group" id="item-list">
    <h1 class="text-center">Voici la liste de vos articles</h1>
    <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b class="text-black">Articles </b>
                            <b class="text-black">Quantites </b>
                            <b class="text-black">Prix </b>
                        </li>
</ul> -->
<table class="table table-bordered table-dark" id="item-list">
   <h1 class="text-center">Voici la liste de vos articles</h1>
  <thead>
    <tr>
      <th scope="col">Articles</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix unitaire</th>
      <th scope="col">Prix total</th>
    </tr>
  </thead>
</table>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
 <form method="POST">
    {% csrf_token %}
    <input type="hidden" id="items" name="items">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nom</label>
      <input type="text" class="form-control" name="nom" id="nom" placeholder="Gaetan">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="frimeur@gmail.com">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" name="address" id="address" placeholder="1234 Main St">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Ville</label>
      <input type="text" name="ville" id="ville" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Pays</label>
      <select id="pays" name="pays" class="form-control">
        <option selected>Cameroun</option>
        <option>Cote d'ivoire</option>
        <option>Tchad</option>
        <option>France</option>
        <option>Burkina</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input name="zipcode" id="zipcode" type="text" class="form-control" id="inputZip">
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Somme total à payer</label>
      <input name="total" id="total" type="readonly" class="form-control bg-dark text-warning">
    </div>
  </div>
  <div class="form-group">
  </div>
  <button type="submit" class="btn btn-primary">Commander</button>
</form>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    if (localStorage.getItem('panier') == null) {
        var panier = {};
    } else {
        var panier = JSON.parse(localStorage.getItem('panier'));
    }
    var total = 0;
    var nombre = 0;
    let itemString = "";
    for (var item in panier) {
        let quantite = panier[item][0];
        let nom = panier[item][1];
        let prix = panier[item][2];
        nombre += quantite;
        total += prix;
       /* let itemString = `<li class="list-group-item d-flex justify-content-between align-items-center">
                            ${nom}
                            <span class="badge bg-primary rounded-pill"> ${quantite}</span>
                            <span class="badge bg-warning rounded-pill"> ${prix}fr</span>
                        </li>`;*/
       itemString += `<tr>
      <td>${nom}</td>
      <td><span class="badge bg-primary rounded-pill"> ${quantite}</span></td>
      <td><span class="badge bg-warning rounded-pill"> ${prix}fr</span></td>
      <td><span class="badge bg-warning rounded-pill"> ${prix * quantite}fr</span></td>
    </tr>`;
    }
     /*let itemNombre = `<li class="list-group-item d-flex justify-content-between align-items-center">
                            <b class="text-danger">PRIX ET QUANTITE TOTAL </b>
                            <span class="badge bg-danger rounded-pill">Total: ${nombre}</span>
                            <span class="badge bg-danger rounded-pill"> ${total}fr</span>
                        </li>`;*/
    let itemNombre = `
      <tr>
      <td><b class="text-danger">PRIX TOTAL ET QUANTITE TOTAL </b></td>
      <td><span class="badge bg-danger rounded-pill"> ${nombre}</span></td>
      <td></td>
      <td><span class="badge bg-danger rounded-pill"> ${total}fr</span></td>
    </tr>`;
    $('#item-list').append(`<tbody>${itemString}</tbody><tfoot>${itemNombre}</tfoot>`);
    $('#total').val(total + "fr");
    $('#items').val(JSON.stringify(panier));
</script>
{% endblock %}