{% extends "shop/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <form class="card card-sm">
      <div class="card-body row no-gutters align-items-center">
        <div class="col">
        <input type="search" placeholder="Entrez le nom du produit que vous cherchez" name="item-name" class="form-control form-control-borderless">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-success">Recherche</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  {% for product in products_objects %}
  <div class="col-md-3">
    <div class="card">
      <img src="{{ product.image.url}}" alt="" class="card-ing-top">
      <div class="card-body">
        <h5 id="aa{{ product.id }}" class="card-title">{{ product.title }}</h5>
        <p id="price{{product.id}}" style="color: orange;" class="card-text"> {{ product.price }}</p>
        <a href="{{ product.id }}" class="btn btn-warning">Détails</a>
        <button id="{{ product.id }}" class="btn ted btn-success">Ajouter</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row mt-3">
  <div class="d-flex justify-content-center mt-3">
    <ul class="pagination">
      {% if products_objects.has_previous %}
        <li class="page-item">
          <a href="?page={{ products_objects.previous_page_number }}" class="page-link" aria-label="Page précédente">Précédent</a>
        </li>
      {% endif %}

      <li class="page-item ">
        <a href="?page={{ products_objects.number }}" class="page-link active">{{ products_objects.number }}</a>
         </li>

      {% if products_objects.has_next %}
        <li class="page-item">
          <a href="?page={{ products_objects.next_page_number }}" class="page-link">Suivant</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  console.log('juste pour tester');
  if(localStorage.getItem('panier') == null){
    var panier = {};
  }else{
    panier = JSON.parse(localStorage.getItem('panier'));
  }
  $(document).on('click','.ted', function(){
    console.log('ajouter');
    var item_id = this.id.toString();
    console.log(item_id);
    if(panier[item_id] != undefined){
      quantite = panier[item_id][0]+1;
      panier[item_id][0] = quantite;
      panier[item_id][2] = parseFloat(document.getElementById('price' + item_id).innerHTML);
    }else{
      quantite = 1;
      prix = parseFloat(document.getElementById('price' + item_id).innerHTML);
      nom = document.getElementById('aa' + item_id).innerHTML;
      panier[item_id] = [quantite, nom, prix];
    }
    localStorage.setItem('panier', JSON.stringify(panier));
    console.log(panier);
    document.getElementById('panier').innerHTML = "Panier(" + Object.keys(panier).length + ")";
  });
  AfficherList(panier);
  function AfficherList(panier){
    var panierString = "";
    panierString+= "<h5>Voici votre panier</h5><br>";
    var index=1;
    for(var item in panier){
      var quantite = panier[item][0];
      panierString += index;
      var nom = document.getElementById('aa' + item).innerHTML;
      panierString += nom + " Qte : " + quantite + "<br>";
      index += 1;
    }
    panierString += "<a href='/checkout' class='btn btn-primary'>Checkout</a>";
 var panierBtn = document.getElementById('panier');
 var popover = bootstrap.Popover.getInstance(panierBtn); 
 if(popover){ 
  popover.dispose(); 
 } 
 new bootstrap.Popover(panierBtn, { html: true, content: panierString });
 }

</script> 
{% endblock%}