{% extends 'shop/base.html' %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header text-center bg-primary text-white">
                <h4>Créer un compte</h4>
            </div>
            <div class="card-body">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Nom d'utilisateur</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Mot de passe</label>
                        <input type="password" name="password1" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Confirmer mot de passe</label>
                        <input type="password" name="password2" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        S'inscrire
                    </button>
                </form>

                <div class="text-center mt-3">
                    <a href="{% url 'login' %}">Déjà un compte ? Se connecter</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
